@import url('//fonts.googleapis.com/css?family=Roboto:400,300,500');
@import 'normalize.css';

:root {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #212121;
    background: #f5f5f5;
}

a:not([type="button"]) {
    color: #222;
    border-bottom: 1px solid #222;
    text-decoration: none;

    &:hover,
    &:focus {
        color: #444;
        border-color: transparent;
        text-decoration: none;
        transition: all .2s ease;
    }

    &:visited {
        color: #555;
    }
}
